<!-- Blog Section Component -->
<section class="blog-section">
  <div class="blog-section-content">
    <div class="blog-card" style="background-image: url('/src/blog-1.png');">
        <div class="post-content-group">
      <div class="blog-card-date">03.07.25</div>
      <div class="blog-card-title">The Japanese Secret to Gut Strength and Longevity</div>
      </div>
      <a href="#" class="blog-card-btn">Read More <span class="blog-card-arrow">→</span></a>
    </div>
    <div class="blog-card" style="background-image: url('/src/blog-2.png');">
        <div class="post-content-group">
      <div class="blog-card-date">01.05.25</div>
      <div class="blog-card-title">Why Daily Probiotics Are More Than Just a Trend</div>
      </div>
      <a href="#" class="blog-card-btn">Read More <span class="blog-card-arrow">→</span></a>

    </div>
    <div class="blog-card" style="background-image: url('/src/blog-3.png');">
        <div class="post-content-group">
      <div class="blog-card-date">23.06.25</div>
      <div class="blog-card-title">Inside Your Gut: How Balance Shapes Immunity and Energy</div>
      </div>
      <a href="#" class="blog-card-btn">Read More <span class="blog-card-arrow">→</span></a>
    </div>
  </div>
</section>
